body, table td, table th {
  font-size: 8pt;
}

h3 {
  font-size: 11pt;
  font-weight: 600;
}

#logo {
  max-height: 128px;
  max-width: 128px;
}

header, .report-title {
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 5mm;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    margin: 5mm;
  }
}
